@page "/"

<PageTitle>Home</PageTitle>

<h3>Welcome to Ban Appeal Processor</h3>

<ul>
    <li><NavLink href="processappeal">Process Appeal</NavLink></li>
    <li><NavLink href="processdiscussion">Process Discussion</NavLink></li>
</ul>