<!-- MainLayout.razor -->
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <Loading IsLoading="@isLoading">
                @Body
            </Loading>
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isLoading;

    public void SetLoading(bool value)
    {
        isLoading = value;
        InvokeAsync(StateHasChanged);
    }
}
